@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
/* body {
  background: #1E1E1E;
} */
* {
  font-family: 'Proxima Nova';
}
a {
  text-decoration: none;
  color: white;
}

.nav-wrap {
  display: flex;
  justify-content: space-around;
}
.logo {
  margin-top: 22px;
  width: 147px;
  height: 82px;
}
.connect-btn {
border: 1px solid #E3E3E3;
color: #E3E3E3;
border-radius: 16.5px;
width: 119px;
height: 39px;
margin-top: 51px;
background: none;
cursor: pointer;
}
.connect-btn:hover {
  border: 1px solid #26489E;
  background: #26489E;
  box-shadow: 0px 8px 16px rgba(12, 77, 174, 0.3);
}
.main {
  display: flex;
justify-content: center;
  align-items: center;
  padding: 4rem;
  font-family: 'Proxima Nova';
 
}
.container {
  width: 345px;
/* height: 30px; */
background: rgba(45, 44, 44, 0.3);
border-radius: 10px;
display: flex;
justify-content: center;
}
.tab-flex {
display: flex;
justify-content: space-between;
margin-left: 0;
}
.swap-text {
  margin: 26.5px 0 36.5px 0;
  color: #E3E3E3;
  font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
} 
.menu-icon {
  margin: 24px 5.5px 0 0;
}
.first-token {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
}
.token{
  font-family: 'Proxima Nova';
font-weight: 700;
font-size: 14px;
line-height: 17px;
}
.token_equivalent {
  font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #B8B8B8;
margin-top: 2px;
}
.first-token-btn {
  border: 1px solid #ECECEC;
filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
border-radius: 17px;
display: flex;
width: 103px;
margin: 0 3px 0 0;
background: none;
}
.ETH {
  margin: 7px 5px 6px 13px;
}
.eth-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 9px 12.43px 0 0;
}
.arrow {
  margin-top: 12.95px;
}
.break-flex {
  display: flex;
  justify-content: center;
}
.first-line {
  width: 125px;
  margin: 36px 2px 36px 0px;
  height: 0;
  color: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.46);
}
.convert {
margin: 25px 2px 0 0;
}
.sec-line {
  width: 125px;
  margin: 36px 0px 0 0px;
  height: 0;
  color: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.46);
}
.swap-connect-btn {
  width: 290px;
height: 51px;
border: 1px solid #26489E;
background: #26569E;
box-shadow: 0px 8px 16px rgba(12, 77, 174, 0.3);
border-radius: 10px;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
margin:31px 0 30px 0 ;
cursor: pointer;
}
.swap-connect-btn:hover {
  border: 1px solid #224396;
  background: #224396;
}
.swap-btn-flex {
  display: flex;
  justify-content: center;
}
.estimate-group {
  border: 1px solid #FFFFFF;
border-radius: 10px;
margin: 0 14px 32px 14px;
}
.estim {
  margin: 24px 0 0 23px;
}
.estimate-flex {
  display: flex;
  justify-content: space-between;
}
.estim-text {
  color: #E3E3E3;
  font-weight: 400;
font-size: 12px;
line-height: 15px;
}
.estim-no {
  display: flex;
  margin-right: 26px;
}
.equiv {
  margin: 8px 5.67px 0 0;
}
.estim-num {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
#estim-id {
  margin-top: 23px;
}
.estim-text-flex {
  display: flex;
}
.save {
  color: #E3E3E3;
  font-weight: 400;
font-size: 12px;
line-height: 15px;

}
.note{
  margin: 3px 0 0 4.67px;
}
.tick {
      margin: 2px 3px 0 0;
}
.estimate-flex1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
#select-id {
  margin: 0 3px 0 0;
}
#selectdiv-id {
  background-color: transparent;
}
.input {
  width: 60px;
  color: #E3E3E3;
  border: none;
  outline: none;
  background: none;
  font-family: 'Proxima Nova';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

}



/* Homepage */
.wrapper {
  background: rgb(26, 26, 39);
  margin: -8px;
  padding: 0;
}
.nav-group {
  display: flex;
  justify-content: space-between;
}
.logowhite {
 margin: 44px 0 0 120px; 
}
.navbar-links {
  display: flex;
  margin-top: 64px;
}
.nav-home {
  font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #E0E0E0;
margin-right: 51px;
}
.product-flex {
  display: flex;
  margin-right: 51px;
}
#product {
  margin-right: 6px;
}
.uparrow {
  margin-top: 7px;
}
.launch-btn {
  margin: 42px 130px 0 0;
  width: 127px;
  height: 51px;
border: 1px solid #26569E;
background: linear-gradient(0deg, #274A9D, #274A9D), conic-gradient(from 177.85deg at 50.39% 54.9%, #26569E -162.2deg, #762C91 28.12deg, #26569E 197.8deg, #762C91 388.12deg);
border-radius: 5px;
font-weight: 700;
font-size: 16px;
line-height: 19px;
cursor: pointer;
color: #FFFFFF;
}
.launch-btn1 {
  margin: 42px 130px 0 0;
  margin-right: 35px;
  margin-left: 23%;
  width: 127px;
  height: 51px;
border: 1px solid #26569E;
background: linear-gradient(0deg, #274A9D, #274A9D), conic-gradient(from 177.85deg at 50.39% 54.9%, #26569E -162.2deg, #762C91 28.12deg, #26569E 197.8deg, #762C91 388.12deg);
border-radius: 5px;
font-weight: 700;
font-size: 16px;
line-height: 19px;
cursor: pointer;
color: #FFFFFF; 
}
.launch-btn:hover {
  background: #264794
}
.page-flex {
  display: flex;
}
.groupmic {
  margin: 10% 0 0 11%;
}
.mobsvg {
  display: none;
}
.mobmus {
  display: none;
}
.content-group {
  font-weight: 800;
  font-size: 70px;
  line-height: 102.3%;
  text-align: center;
  width: 714px;
  color: #FFFFFF;
  margin: 20% 0 0 -12%;
}
.grpmusic {
  margin: 10% 0 0 -10%; 
}
.util {
  font-weight: 400;
font-size: 24px;
line-height: 33px;
text-align: center;
width: 417px;
margin: auto;
color: #E0E0E0;
margin-top: -67px;
}
.box {
  margin: 0;
}
.btns-flex {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  
}
/* #launch-id {

} */
.white-btn {
  margin-top: 42px;
width: 125px;
height: 51px;
font-weight: 700;
font-size: 16px;
line-height: 19px;
background: none;
color: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 5px;
cursor: pointer;
}
.white-btn:hover {
  background: #E0E0E0;
  color: #224396;
}
.star {
  margin-right: 17%;
}
.star-grp {
display: flex;
justify-content: right;
}
.footer {
  background: #000000;
  margin: -8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-body {
  display: flex;

}
.hamburger {
  display: none;
}
.whitelogo {
  margin: 68px 93px 0 0;
}
.procom-flex {
  display: flex;
  margin-top: 71px;
}
.product-footer {
  font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
margin-bottom: 23px;
}
.mini-footer {
  font-weight: 400;
font-size: 21px;
line-height: 21px;
color: #FFFFFF;
margin-bottom: 25px;
}
.company {
  margin-left: 117px;
}
.company-social {
  margin-left: 117px;
}
.product-grp {
  display: flex;
}
.product-footer-social {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 23px;
}
.last-footer {
  display: flex;
  justify-content: space-between;
  margin: 62px 0 66px 0;
}
.copyright-flex {
  display: flex;
}
.copyright-text {
  font-weight: 400;
font-size: 20px;
line-height: 20px;
margin: 3px 0 0 5px;
color: #FFFFFF;
}
.social-icons {
  display: flex;
cursor: pointer;
}
.soc-icons {
  margin-right: 18.93px;
}
@media (min-width: 320px) and (max-width: 450px)  {
  .container{
flex-shrink: 0;
  }
  .navbar-links {
    display: none;
  }
  .launch-btn {
    display: none;
  }
  .logowhite {
    margin: 16px 0 0 40px;
    width: 92px;
height: 26px;
  }
  .groupmic {
    display: none;
  }
  .mobsvg {
    display: block;
    margin-top: 108px;
    margin: 89px 0 0 -10px;
  }
  .content-group {
    /* display: none; */
    width: 303px;
    font-weight: 800;
font-size: 35px;
line-height: 102.3%;
margin: 28% 0 0 -12%;
  }
  .grpmusic {
    display: none;
  }
  .util {
    /* display: none; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 16px;
line-height: 136.3%;
width: 277px;
text-align: center;
  }
  .mobmus {
    margin-top: 71px;
display: block;
margin-left: -65px;
  }
  .box {
    width: 100px;
height: 100px;
margin: 63px 0 0 -20px;
  }
  .launch-btn1 {
    width: 116px;
height: 37px;
font-weight: 700;
font-size: 14px;
line-height: 17px;
margin: 30px 0 0 0;
  }
  .white-btn {
    width: 114px;
height: 37px;
margin: 30px 0 0 15px;
  }
  .star {
    width: 113.07px;
height: 115.22px;
  }
  .footer {
    background: #212329;
  }
  .footer-body {
   flex-direction: column; 
  }
  .whitelogo {
    width: 92px;
height: 26px;
/* margin: 32px 0 0 40px; */
margin: 32px 0 0 0;
  }
  .company {
    /* display: none; */
    margin-left: 42px;
  }
  .procom-flex {
    flex-direction: column;
    margin-top: 38px;
  }
  .product-grp {
    /* flex-direction: column; */
  }
 
  .product-footer {
    font-size: 16px;
line-height: 19px;
margin-bottom: 6px;
  }
  .mini-footer {
    font-size: 12px;
line-height: 12px;
margin-bottom: 7px;
  }
  .product-footer-social {
margin-top: 32px;
font-size: 16px;
line-height: 19px;
margin-bottom: 6px;
  }
  .company-social {
    margin-left: 0;
  }
  .last-footer{
    /* display: none; */
    margin: 11px 0 24px 48px;
  }
  .social-icons {
    display: block;
    margin-top: -61%;
  }
  .soc-icons {
    width: 22.55px;
height: 22.55px;
margin-right: 9px;
  }
  .copy {
    width: 15px;
height: 17px;
  }
  .copyright-flex {
    margin-left: 2px;
  }
  .copyright-text {
    font-size: 12px;
line-height: 15px;
width: 129px;
margin: 0px 0 0 3px;
  }
  .hambuger-flex {
    display: flex;
  }
  .hamburger {
    display: block;
    margin: 25px 45px 0 0;
  }
}