@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
body {
  background: #1E1E1E;
}

.nav-wrap {
  display: flex;
  justify-content: space-around;
}
.logo {
  margin-top: 22px;
  width: 147px;
  height: 82px;
}
.connect-btn {
border: 1px solid #E3E3E3;
color: #E3E3E3;
border-radius: 16.5px;
width: 119px;
height: 39px;
margin-top: 51px;
background: none;
cursor: pointer;
}
.connect-btn:hover {
  border: 1px solid #26489E;
  background: #26489E;
  box-shadow: 0px 8px 16px rgba(12, 77, 174, 0.3);
}
.main {
  display: flex;
justify-content: center;
  align-items: center;
  padding: 4rem;
  font-family: 'Proxima Nova';
 
}
.container {
  width: 345px;
/* height: 30px; */
background: rgba(45, 44, 44, 0.3);
border-radius: 10px;
display: flex;
justify-content: center;
}
.tab-flex {
display: flex;
justify-content: space-between;
margin-left: 10.5px;
}
.swap-text {
  margin: 26.5px 0 36.5px 0;
  color: #E3E3E3;
  font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
} 
.menu-icon {
  margin: 24px 27.5px 0 0;
}
.first-token {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}
.token{
  font-family: 'Proxima Nova';
font-weight: 700;
font-size: 14px;
line-height: 17px;
}
.token_equivalent {
  font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #B8B8B8;
margin-top: 2px;
}
.first-token-btn {
  border: 1px solid #ECECEC;
filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
border-radius: 17px;
display: flex;
width: 103px;
margin: 0 23px 0 0;
background: none;
}
.ETH {
  margin: 7px 5px 6px 13px;
}
.eth-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 9px 12.43px 0 0;
}
.arrow {
  margin-top: 12.95px;
}
.break-flex {
  display: flex;
}
.first-line {
  width: 112px;
  margin: 36px 2px 36px 20px;
  height: 0;
  color: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.46);
}
.convert {
margin: 25px 2px 0 0;
}
.sec-line {
  width: 112px;
  margin: 36px 0px 0 0px;
  height: 0;
  color: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.46);
}
.swap-connect-btn {
  width: 248px;
height: 51px;
border: 1px solid #26489E;
background: #26569E;
box-shadow: 0px 8px 16px rgba(12, 77, 174, 0.3);
border-radius: 10px;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
margin:31px 0 30px 0 ;
cursor: pointer;
}
.swap-connect-btn:hover {
  border: 1px solid #224396;
  background: #224396;
}
.swap-btn-flex {
  display: flex;
  justify-content: center;
}
.estimate-group {
  border: 1px solid #FFFFFF;
border-radius: 10px;
margin: 0 14px 32px 14px;
}
.estim {
  margin: 24px 0 0 23px;
}
.estimate-flex {
  display: flex;
  justify-content: space-between;
}
.estim-text {
  color: #E3E3E3;
  font-weight: 400;
font-size: 12px;
line-height: 15px;
}
.estim-no {
  display: flex;
  margin-right: 26px;
}
.equiv {
  margin: 8px 5.67px 0 0;
}
.estim-num {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
#estim-id {
  margin-top: 23px;
}
.estim-text-flex {
  display: flex;
}
.save {
  color: #E3E3E3;
  font-weight: 400;
font-size: 12px;
line-height: 15px;

}
.note{
  margin: 3px 0 0 4.67px;
}
.tick {
      margin: 2px 3px 0 0;
}
.estimate-flex1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
#select-id {
  margin: 0 23px 0 0;
}
#selectdiv-id {
  background-color: transparent;
}
.input {
  width: 60px;
  color: #E3E3E3;
  border: none;
  outline: none;
  background: none;
  font-family: 'Proxima Nova';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

}

@media (min-width: 320px) and (max-width: 450px)  {
  .container{
    /* width: 100%;
max-width: 440px; */
flex-shrink: 0;
  }
}